* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  width: 100%;
  height: 10%;

  background-color: rgb(35, 35, 35);

  display: flex;
  justify-content: space-between;
}

.logo-search-bar {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo {
  border-radius: 50%;
  width: 60px;

  cursor: pointer;

  margin: 0 10px;
}

.search {
  width: 270px;
  height: 45%;
  background-color: rgb(50, 50, 50);
  border-radius: 17px;

  cursor: pointer;
}

.time-bar {
  color: #fff;
  font-size: 24px;

  display: flex;
  align-items: center;

  margin: 0 10px 0 0;
}

.main {
  display: flex;
  height: 90%;
}

.block {
  width: 20%;
  background-position: center;
  background-size: cover;

  color: #fff;
  font-size: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .block {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  .header {
    justify-content: center;
  }

  .logo-search-bar {
    width: 100%;
  }

  .logo {
    margin: 0 20px
  }

  .time-bar {
    display: none;
  }
}